body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

h1 {
    text-align: center;
}

.katalog {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.kue {
    border: 1px solid #ddd;
    padding: 15px;
    width: 220px;
    text-align: center;
    border-radius: 8px;
}

.kue img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

input {
    width: 100%;
    margin-top: 8px;
    padding: 5px;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 7px;
    cursor: pointer;
}

.wa {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
