* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    padding-bottom: 40px;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

header input {
    width: 90%;
    max-width: 400px;
    padding: 12px;
    font-size: 16px;
}

/* KATALOG */
.katalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    padding: 15px;
}

/* CARD KUE */
.kue {
    background: white;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.kue img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

.kue h3 {
    font-size: 16px;
    margin: 8px 0;
}

.kue p {
    font-size: 14px;
}

.kue input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    font-size: 16px;
}

.kue button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    font-size: 16px;
}

/* RINGKASAN */
.ringkasan-box {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.ringkasan-box h2 {
    margin-bottom: 10px;
}

.ringkasan-box ul {
    margin-bottom: 10px;
}

.total {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* TOMBOL WA */
.wa {
    width: 100%;
    background: #25D366;
    color: white;
    border: none;
    padding: 14px;
    font-size: 18px;
    border-radius: 8px;
}

.wa-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wa-float img {
    width: 32px;
    height: 32px;
}



/* MOBILE OPTIMIZATION */
@media (max-width: 480px) {
    .kue img {
        height: 120px;
    }
}



